<div class="container ">
    <h3 class="text-center box-cadastro">Colaboradores</h3>
    
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th >Id</th>
                <th >Nome do colaborador</th>
                <th >Situação </th>   
                <th >Cargo </th> 
                <th >Departamento </th> 
                <th >Opções </th> 
                 
            </tr>
        </thead>
        <tbody  *ngFor="let colaborador of list">
            <tr>
                <th > {{ colaborador.id}} </th>
                <td > {{ colaborador.nome}}</td>
                <td > {{ retornoAtivo(colaborador.ativo) }}</td>  
                <td > {{ colaborador.cargo}}</td>  
                <td > {{ colaborador.departamento.nome}}</td>   
                <td class="centralizar">
                    <button class="btn btn-danger"  routerLinkActive="router-link-active"  >deletar</button>
                    <button class="btn btn-warning "  [routerLink]="['/home', 'editarusuario', colaborador.id]">editar</button>
                </td>        
            </tr>            
        </tbody>
        
    </table>

    <div class="d-flex justify-content-end">
        <button class="btn btn-info" style="display: inline;" (click)="cadastrarColaborador()"  > Cadastrar Colaborador</button>
    </div>

     
</div>