.card-group{
    margin-top: 140px;
    
}
.card{
    margin-right: 10px;
    padding: 10px;
    box-shadow: 3px 3px 16px 2px rgb(126, 126, 126);
    border-top-right-radius: 20px ;
    border-top-left-radius: 20px ;
    
}

.card-img-top{
    height: 200px;
    padding: 10px;
    border-radius: 15%;
    
}

.duvidaCliente{
    margin-top: 50px;
    padding-right: 20px;
}

.espaco-esquerda{
    padding-left: 80px;
}

.cadastro{
    margin-top: 10px;
}

.divisoria{
    margin-top: 40px;
    height: 5px;
    background-color: white;
    width: 120%;
    margin-left: -10%;
    
}

h2{
    text-align: center;
    margin-bottom: 40px;
}
