<div class="card-group">
    <div class="card col-xs-12" >
        <img class="card-img-top  " src="../../../../assets/img3.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Produtos</h5>
            <p class="card-text">Proin pharetra lacinia massa vitae porta. Etiam fermentum sem vitae leo varius tincidunt.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card col-xs-12">
        <img class="card-img-top " src="../../../../assets/img1.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Controle de Estoque</h5>
            <p class="card-text">Cras eleifend ligula id massa tincidunt porttitor. Integer elementum efficitur dui id congue. Morbi rhoncus congue enim laoreet pellentesque.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card col-xs-12">
        <img class="card-img-top " src="../../../../assets/img2.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Inventário</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tincidunt egestas efficitur. Mauris mattis consectetur metus eget volutpat. Class aptent taciti.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>

<div class="divisoria">

</div>

<div class="duvidaCliente">
    <div class="container">
        <h2>Sugestões, reclamações, duvidas e elogios</h2>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img src="../../../../assets/duvidas.png" alt="duvidas">
            </div>
            
            <div class="col-md-6 col-sm-12 espaco-esquerda">
                <form>
                    <div class="form-group">
                        <label >Nome:</label>
                        <input type="text" class="form-control" >
                    </div>
                    <div class="form-group">
                        <label >E-mail</label>
                        <input type="email" class="form-control"  >
                    </div>
                    <div class="form-group">
                        <label >Assunto</label>
                        <input type="text" class="form-control" >
                    </div>
                    <div class="form-group">
                        <label > Duvida</label>
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-info cadastro"> Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>