<div class="d-flex justify-content-center">
<div class="formLogin">
    <form>
        <h4>Bem-vindo</h4>
        <img src="../../assets/r2d2.png" alt="logo" class="logor2d2">
        <div class="mb-3">
            <label for="inputUsuario" class="form-label">Usuário</label>
            <input type="text" class="form-control" id="inputUsuario" >
            
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input type="password" class="form-control" id="password">
        </div>
        <button type="button" class="btn btn-primary" (click)="acessar()">Acessar</button>
    </form>
</div>

</div>

