<div class="container">
    <div class="row box-cadastro">
        <div class="col-12">
            <h3 class="text-center">Editar dados do Colaborador</h3>
            <form class="mt-5" [formGroup]="formulario">
                <div class="form-group">
                    <input  type="text" class="form-control cadastro"  placeholder="Nome" formControlName='nome' >
                </div>                          
                
                <div class="form-group">
                    <input type="text" class="form-control cadastro"  placeholder="Cargo" formControlName='cargo'>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control cadastro" placeholder="Telefone" formControlName='telefone'>
                </div>               
                
                <select   formControlName='departamento'  class="form-select form-group cadastro"    >
                    <option  value="">Selecione um departamento</option>
                    <option *ngFor="let depart of lista"    [value]=depart.id> {{ depart.nome}}</option>                 
                    
                  </select>

                  <div class="checkAtivo">
                    <label class="labelCheck ">Situação: </label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input " type="radio"  formControlName='ativo' value=true>
                        <label class="form-check-label" for="inlineRadio1">Ativo</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName='ativo' value=false>
                        <label class="form-check-label" for="inlineRadio2">Desativado</label>
                      </div>
                </div>

                <button type="submit" class="btn btn-cadastro btn-lg" [disabled]=!formulario.valid (click)="alterarUsuario()">Alterar</button>
            </form>
        </div>
    </div>
</div>

