<div class="container ">
    <h3 class="text-center box-cadastro">Departamentos</h3>
    
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th >Id</th>
                <th class="pad">Nome do Departamentos</th>
                <th  class="centralizar" >Numero de colaboradores</th>  
                <th class="centralizar">Opções</th> 
                 
            </tr>
        </thead>
        <tbody  *ngFor="let dp of listaDepartamentos">
            <tr>
                <th > {{ dp.id}} </th>
                <td class="pad"> {{ dp.nome}}</td>
                <td class="centralizar">{{ contarColaborador(dp.id)}}</td>        
                <td class="centralizar">
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="passarId(dp.id)" >deletar</button>
                    <button class="btn btn-warning " [routerLink]="['/home' , 'editardepart', dp.id]">editar</button>
                </td>         
            </tr>            
        </tbody>
        
    </table>
   
</div>


<div class="d-flex justify-content-end">
    <button class="btn btn-info" style="display: inline;" (click)="cadastrarDep()"  > Cadastrar Departamento</button>
</div>

<app-deletar-departamento [departamentoId]='id' (atualizarLista)="ngOnInit()"></app-deletar-departamento>