body{
    background-color: rgba(236, 236, 236, 0.993);
}

.top{
    margin-top: 60px;
}

.box-cadastro {
    margin: 30px;
    padding: 30px;
}

.btn-cadastro {
    width: 30%;
    display: block;
    margin: 0 auto;
    padding: 10px;
    background-color: #dcbc81;
    font-weight: bold;
    margin-top: 20px;
}
.centralizar{
    text-align: center;
}

.btn-info{
    background-color: #dcbc81;
    font-weight: bold;
    border: none;
    padding: 10px;
}


.vai-tremer:hover {
  
    animation: tremer .2s;
    animation-iteration-count: 3;
}
/* keyframe para ajustar até onde treme */
@keyframes tremer {
    0% {margin-left: 0;}
    25% {margin-left: 7px;}
    50% {margin-left: 0;}
    75% {margin-left: -7px;}
    100% {margin-left: 0;}
}
@import '~ngx-toastr/toastr';

h3{
    font-family: 'Black Han Sans', sans-serif;

    font-size: 30px;
}

.btn-delete{
    margin-top: 22px;
}

.label_produto{
    font-size: 13px;
}

.btn-sem-cor{
    background-color:white;
    border: none;
}

.btn-sem-cor:hover{
    background-color: rgba(180,204,241,255)
}