
.cadastro {

    padding-top: 6px;
    padding-bottom: 6px;
  
  }
  
.load{
    top: 15%;
    left: 88%;
    width:200px;
    height:200px;   
    color: black;
    position: fixed;
}
  
h6{
  color: black;
}
g s
col{
  flex: 1 0 0%;
}
