<div class="wrapper" >
    <footer class="rodape fixed-bottom">
        <div style="background-color: rgb(202, 202, 202);height: 2px;">
        </div>
        <div style="background-color: rgb(0, 0, 0);height: 1px;">
        </div>
        
        <p class="text-center" >&copy; Todos os Direitos reservados a
            <b>Millennium 2019 - {{ date.getFullYear() }}</b>            
        </p>
        <div style="background-color: rgb(0, 0, 0);height: 1px;">
        </div>

        
    </footer>
</div>