  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div class="imagem-falcon"  style=" background-image: url('../../../../assets/falconhome.png'); ">    
      <a class="navbar-brand filho"  [routerLink]="['/home']"  >    
        Millennium 
      </a>     
      
    </div> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">         
        
        <li class="nav-item active">
          <div class="dropdown">
            <button class="btn btn1 dropdown-toggle" type="button" data-bs-toggle="dropdown" >
              Consulta
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" [routerLink]="['colaboradores']">Colaboradores</a></li>
              <li><a class="dropdown-item" [routerLink]="['departamentos']">Departamentos</a></li>
              <li><a class="dropdown-item" [routerLink]="['fornecedores']">Fornecedores</a></li>
              <li><a class="dropdown-item" [routerLink]="['produtos']">Produtos</a></li>
            </ul>
          </div>
        </li>
        
        <li class="nav-item active">
          <div class="dropdown">
            <button class="btn btn1 dropdown-toggle" type="button" data-bs-toggle="dropdown" >
              Cadastro
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" [routerLink]="['cadastrarusuario']">Colaborador</a></li>
              <li><a class="dropdown-item" [routerLink]="['cadastrardepart']">Departamentos</a></li>
              <li><a class="dropdown-item" [routerLink]="['cadatrarfornecedor']">Fornecedores</a></li>
              <li><a class="dropdown-item" [routerLink]="['cadastrarproduto']">Produtos</a></li>
            </ul>
          </div>
        </li>


        <li class="nav-item active">
          <div class="dropdown">
            <button class="btn btn1 dropdown-toggle" type="button" data-bs-toggle="dropdown" >
              Movimentação
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" [routerLink]="['entradaproduto']"   >Entrada</a></li>
              <li><a class="dropdown-item" [routerLink]="['saidaproduto']"  >Saida</a></li>
              <li><a class="dropdown-item" [routerLink]="['inventario']">Inventário</a></li>
            </ul>
          </div>
        </li>

        <li class="nav-item active">
          <div class="dropdown">
            <button class="btn btn1 dropdown-toggle" type="button" data-bs-toggle="dropdown" >
              Relatórios
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" [routerLink]="['fichaestoque']"   >Movimentação Produto</a></li>
              </ul>
          </div>
        </li>

        <div class="logout">
          <img src="../../../../assets/iconlogout.png" class="imglogout" alt="">
          <a href=""> Sair</a> 
        </div>
        
      </ul>
      
    </div>
  </nav>
  