<div class="container">
    <div class="row box-cadastro">
        <div class="col-12">
            <h3 class="text-center">Informe os dados do produto</h3>
            <form class="mt-5" [formGroup]="formulario" >
                
                <div class="row">
                    
                    <div class="col-md-6 col-sm-12" >
                        <div class="form-group">
                            <label >Nome do produto</label>
                            <input type="text"  formControlName="nome" class="form-control cadastro">
                        </div> 
                    </div>
                    
                    <div class="col-md-6 col-sm-12" >
                        <div class="form-group">
                            <label >Descrição do produto</label>
                            <input type="text"  formControlName="descricao"  class="form-control cadastro"  >
                        </div>
                        
                    </div>
                    
                </div>
                
                <div class="row">
                    
                    <div class="col-md-5 col-sm-12" >
                        <div class="form-group">
                            <label >Categoria </label>
                            <select  formControlName="categoria"  class="form-select form-group cadastro"  >        
                                                                                 
                                <option *ngFor="let categoria of listaCategoria"  [value]=categoria  > {{ categoria }}</option>                 
                                
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-12" >
                        <div class="form-group">
                            <label >Cor </label>
                            <select  formControlName="cor" class="form-select form-group cadastro"   >
                                
                                <option *ngFor="let cor of listaCores" [value]=cor > {{ cor}}</option>                
                                
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-md-3 col-sm-12" >
                        <div class="form-group">
                            <label >Tamanho </label>
                            <select  formControlName="tamanho"   class="form-select form-group cadastro"    >
                                
                                <option  *ngFor="let tamanho of listaTamanho" [value]=tamanho > {{ tamanho}} </option>               
                                
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4 col-ms-12">
                        <div class="form-group">
                            <label >Marca </label>
                            <input formControlName="marca" type="text" class="form-control cadastro">
                        </div>
                    </div>
                    
                    <div class="col-md-8 col-ms-12">
                        <div class="form-group">
                            <label  >Escola uma imagem  </label>
                            <input  class="form-control cadastro"  type="file" >
                        </div>
                    </div>
                </div>
                
                
                <button type="submit" class="btn btn-cadastro btn-lg"   >Alterar</button>
            </form>
        </div>
    </div>
</div>
